<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

  <nav class="blue darken-1">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">TaskForce</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/task" th:text="#{task.mytasks}"></a></li>
        <li><a href="#" th:text="#{task.done}"></a></li>
        <li><a href="#" th:text="#{account}"></a></li>
      </ul>
    </div>
  </nav>

  <main class="container">

    <h2 th:text="#{registertask}"></h2>

    <div class="card">
      <form class="col s12" th:action="${'/task'}" method="post" th:object="${task}">
        <div class="card-content">

          <div class="row">
            <div class="input-field col s12">
              <input th:field="*{title}" type="text" class="validate" th:classappend="${#fields.hasErrors()} ? invalid">
              <label for="title" th:text="#{form.title}"></label>
              <span class="helper-text red-text" th:errors="*{title}"></span>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea class="materialize-textarea" th:field="*{description}"></textarea>
              <label for="description" th:text="#{form.description}"></label>
              <span class="helper-text red-text" th:errors="*{description}"></span>
            </div>
          </div>

          <label th:text="#{form.label.priority}"></label>
          <select name="priority" class="browser-default">
            <option value="" disabled selected th:text="#{form.option.choose}">Escolha a prioridade</option>
            <option value="1" th:text="#{form.option.high}"></option>
            <option value="2" th:text="#{form.option.medium}"></option>
            <option value="3" th:text="#{form.option.low}"></option>
          </select>

        </div>

        <div class="card-action right-align">
          <a href="/task" th:text="#{form.cancel}"></a>
          <button class="btn" th:text="#{form.register}"></button>
        </div>

      </form>
    </div>

  </main>

</body>

</html>